﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TnbCorsys_Template</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@


    <!--<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link href="~/assets/fonts/fontawesome/all.min.css" rel="stylesheet">-->
    <!--load all styles -->
    <!-- Fonts and icons -->
    <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <link rel="icon" href="~/assets/img/icon.ico" type="image/x-icon" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/atlantis.css">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="../assets/css/demo.css">



    @*===============================News css===================================================*@
    <!-- Year Picker CSS -->
    <link rel="stylesheet" href="/News/css/yearpicker.css" />
    <link rel="stylesheet" href="/News/css/bootstrap-datepicker.min.css" />
    <link href="/News/css/tagsinput.css" rel="stylesheet" type="text/css">
    <link href="/News/vendors/dropzone-5.7.0/dist/min/basic.min.css" rel="stylesheet" type="text/css" />
    <link href="/News/vendors/dropzone-5.7.0/dist/dropzone.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/News/css/custom.css">

    @RenderSection("Styles", required: false)
</head>
<body>

    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="white">

                <a href="index.html" class="logo">
                    <img src="~/logo/logo2.png" alt="navbar brand" class="navbar-brand" style="width: 50%;">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <partial name="_navbar" />

            <!-- End Navbar -->
        </div>
        @*sidebar*@
        <partial name="_sidebar" />

        <div class="main-panel">
            <div class="content">
                <div class="panel-header bg-primary-gradient">
                    <div class="page-inner py-5">
                        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                            <div>
                                <h2 class="text-white pb-2 fw-bold">Add News</h2>
                                @*<h5 class="text-white op-7 mb-2">Add your description here</h5>*@
                            </div>

                        </div>
                    </div>
                </div>
                <div class="page-inner mt--5">
                    @RenderBody()
                </div>
            </div>
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2021 - TnbCorsys_Template - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@


    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Chart JS -->
    <script src="~/assets/js/plugin/chart.js/chart.min.js"></script>
    <!-- jQuery Sparkline -->
    <script src="~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    <!-- Chart Circle -->
    <script src="~/assets/js/plugin/chart-circle/circles.min.js"></script>
    <!-- Datatables -->
    <script src="~/assets/js/plugin/datatables/datatables.min.js"></script>
    <!-- Bootstrap Notify -->
    <script src="~/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <!-- jQuery Vector Maps -->
    <script src="~/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>
    <!-- Sweet Alert -->
    <script src="~/assets/js/plugin/sweetalert/sweetalert.min.js"></script>



    @*==================News Pluging==========================================================*@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>

    <!-- Moment Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <!-- Year Picker Js -->
    <script src="~/News/js/yearpicker.js"></script>
    <script src="~/News/js/bootstrap-datepicker.min.js"></script>
    <script src="~/News/js/off-canvas.js"></script>
    <script src="~/News/js/hoverable-collapse.js"></script>
    <script src="~/News/js/todolist.js"></script>
    <script src="~/News/js/dashboard.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-storage.js"></script>

    <script src="~/News/js/tagsinput.js"></script>
    <script src="~/News/vendors/dropzone-5.7.0/dist/dropzone.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    @*<script src="~/News/js/template.js"></script>*@
    <!-- Atlantis JS -->
    <script src="~/assets/js/atlantis.js"></script>
    <script>
        // Your web app's Firebase configuration
        // var firebaseConfig = {
        //     apiKey: "AIzaSyB9Eigcvz3ailS1LW0Fz_H1RVYjP_ZgfsA",
        //     authDomain: "tnb-cma-app-dev.firebaseapp.com",
        //     databaseURL: "https://tnb-cma-app-dev.firebaseio.com",
        //     projectId: "tnb-cma-app-dev",
        //     storageBucket: "tnb-cma-app-dev.appspot.com",
        //     messagingSenderId: "1046620154334",
        //     appId: "1:1046620154334:web:64e4960f550617a323954f",
        //     measurementId: "G-E2K7EBRSR7"
        // };

        var firebaseConfig = {
            apiKey: "AIzaSyCCK6FDOECfg91vcB3g-9O1bmO5oQIOL2s",
            authDomain: "tnb-internal-app-119c5.firebaseapp.com",
            databaseURL: "https://tnb-internal-app-119c5.firebaseio.com",
            projectId: "tnb-internal-app-119c5",
            storageBucket: "tnb-internal-app-119c5.appspot.com",
            messagingSenderId: "534591311891",
            appId: "1:534591311891:web:57245ca4d993ee83556fe6"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);


        //formating the json date
        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('.');
        }

        $("#loading").hide();
        $('main').removeClass('blur');

        $('#content').summernote({
            placeholder: 'Write Your Content Here',
            tabsize: 2,
            height: 300,

            codemirror: { // codemirror options
                theme: 'monokai'
            }
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
