﻿<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-primary">
                <li class="nav-item ">
                    <a data-toggle="collapse" asp-area="Identity" asp-page="/Account/Manage/Index" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Manage Profile</p>
                    </a>

                </li>

                <li class="nav-item">
                    <a data-toggle="collapse" asp-area="" asp-page="/AddNews" id="manage">
                        <i class="fas fa-layer-group"></i>
                        <p>Manage News</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a data-toggle="collapse" asp-page="/NewsList" id="list">
                        <i class="fas fa-th-list"></i>
                        <p>News List</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/LogOut">
                        <i class="fas fa-power-off"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>