﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container text-center">
    <div classs="col-md-12">
        <h1> You are successfully log In!</h1>
        <h3> using your AD username/pwd</h3>

        <div class="logout" style="">
            <a id="Logout" href="/Home/LogOut" class="btn btn-lg btn-success">now, get out there</a>
        </div>

    </div>

</div>
