﻿@model TnbCorsys_Template.Dtos.UserDto
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Logout.cshtml";
}



<div class="fadeIn first p-3">
    <img src="~/logo/logo2.png" id="icon" alt="User Icon" style="width:37%" />
</div>

<form id="formLogin" asp-action="Login" asp-controller="Home" method="post" autocomplete="off">

    <div class="form-group fadeIn second">
        <div class="input-icon">
            <span class="input-icon-addon">
                <i class="fa fa-user"></i>
            </span>
            <input type="text" class="form-control login-input" asp-for="Username" maxlength="12" placeholder="Staff No">  
        </div>
    </div>
    <div class="form-group fadeIn third">
        <div class="input-icon">
            <span class="input-icon-addon">
                <i class="fa fa-lock"></i>
            </span>
            <input type="text" class="form-control login-input" asp-for="Password" type="password" placeholder="Password">           
            <span id="UnmaskPwd" class="fa fa-eye toggler-icon input-icon-addon" type="button">&nbsp;</span>
        </div>
    </div>
  
    <button type="submit" class="btn-login fadeIn fourth">Login</button>

</form>

<div id="formFooter">
    <a class="underlineHover" href="#">Forgot Password?</a>
</div>






@section Scripts{
    <script>

        var open = 'fa-eye';
        var close = 'fa-eye-slash';
        var ele = document.getElementById('Password');

        $(document).ready(function () {

            $('#UnmaskPwd').click(function () {
                if (this.classList.contains(open)) {
                    ele.type = "text";
                    this.classList.remove(open);
                    this.className += ' ' + close;
                } else {
                    ele.type = "password";
                    this.classList.remove(close);
                    this.className += ' ' + open;
                }
            });

            $("#formLogin").submit(function (e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {
                        if (data.response.statusCode == 200) {
                            if (data.url != "")
                                window.location.href = data.url;
                            else
                                window.location.href = "/News";
                        } else {
                            $(".errorMsg").html("<b>Error!</b> " + data.message);
                            $(".errorMsg").show();
                        }
                    }
                });
            });
        });
    </script>
}
