﻿@model TnbCorsys_Template.Dtos.UserDto
@{
    ViewData["Title"] = "News Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success p-3" role="alert" style="display: none ;" id="success_msg">
    <i class="fas fa-check-circle fa-lg mr-2"></i> Article Saved!
</div>
<div class="alert alert-danger p-3" role="alert" style="display: none ;" id="error_msg">
    <i class="fas fa-check-circle fa-lg mr-2"></i> Error saving your Article.
</div>

<div class="card card-noshadow p-2">
    <div class="card-body">

        <div class="row">
            <div class="col-md-9">

                <h4 class="card-title ls-1 font-weight-bold font">TITLE</h4>
                <div class="form-row">
                    <div class="col-12">
                        <input type="text" class="form-control form-control-lg article-title" placeholder="Add Title"
                               id="title">
                    </div>
                </div>


                <div class="card mb-0 content-card mt-4">
                    <div id="Content" class="accordion mt-4"
                         style="background-color: aliceblue;margin:20px; border-radius:15px">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                            <a class="card-title">
                                Content Text
                            </a>
                        </div>

                        <div id="collapseOne" class="card-body" aria-expanded="true" data-parent="#Content">

                            <div id="content"></div>
                        </div>
                    </div>
                    <div id="Featured" class="accordion mt-4 "
                         style="background-color: aliceblue;margin:20px; border-radius:15px">
                        <div class="card-header" data-toggle="collapse" href="#collapseTwo" aria-expanded="true">
                            <a class="card-title">
                                Featured Image
                            </a>
                        </div>
                        <div id="collapseTwo" class="card-body" aria-expanded="true" data-parent="#Thumbnail">
                            <div class="row">
                                <div class="col-md-12">


                                    <div class="row py-4">

                                        <div class="col-lg-6 mx-auto">

                                            <!-- Upload image input-->
                                            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                                <!-- <input type="file"  class="form-control border-0" id="files"> -->
                                                <input id="upload" type="file" class="form-control border-0">
                                                <label id="upload-label" for="upload"
                                                       class="font-weight-light text-muted">Choose file</label>
                                                <div class="input-group-append">
                                                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4">
                                                        <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">
                                                            Choose
                                                            file
                                                        </small>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-md-12 text-center">
                                                <button id="send" class="btn btn-primary">
                                                    UPLOAD <i class="fa fa-cloud-upload ml-2" aria-hidden="true"></i>
                                                </button>
                                                <p id="uploading"></p>
                                            </div>


                                            <!-- Uploaded image area-->
                                            <p class="font-italic text-dark text-center">
                                                The image uploaded will be
                                                rendered inside the box
                                                below.
                                            </p>

                                            <div class="progress bg-gradient-light" id="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                            <div class="image-area mt-4 text-center">
                                                <img id="imageResult" src="#"
                                                     alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="tags" class="accordion mt-4 "
                         style="background-color: aliceblue;margin:20px; border-radius:15px">

                        <div class="card-header" data-toggle="collapse" href="#collapseThree" aria-expanded="true">
                            <a class="card-title">
                                Keywords
                            </a>
                        </div>
                        <div id="collapseThree" class="card-body" aria-expanded="true" data-parent="#tags">

                            <input id="keywords" type="text" data-role="tagsinput" value="">

                        </div>

                    </div>


                </div>
            </div>

            <div class="col-md-3 right-side-content">


                <div class="row mt-5 text-center">
                    <!-- <div class="col-md-12">
                        <h5 class="text-muted"> Publish Your Article</h5>
                        <p class="text-secondary"> This Article will go live once you click Go Live button</p>
                        <button type="button" class="btn btn-behance" id="publish-btn">
                            <i class="fa fa-globe pr-2"
                               aria-hidden="true"></i>
                            Go Live
                        </button>
                    </div> -->

                    <div class="col-md-12 mt-4">
                        <h5 class="text-muted"> Save and Publish </h5>
                        <p class="text-secondary"> This Article will be saved and publish to user</p>
                        <button type="button" class="btn btn-behance" id="save-btn">
                            <i class="fa fa-globe pr-2"
                               aria-hidden="true"></i>
                            Save & Publish
                        </button>
                    </div>

                </div>
                <hr class="mt-5 pt-5">
                <div class="row ">
                    <div class="col-md-12 text-center">
                        <h4 class="ls-1 pb-3"> Article Preview </h4>
                    </div>

                    <div class="card  pb-2 card-news-preview">
                        <img class="card-img" id="preview-image" src="/News/img/add_image.png" alt="">
                        <div class="card-body">
                            <p class="text-capitalize article-title" id="myTitle">Article Title</p>

                            <p class="card-text text-secondary" id="myContent">
                                Your content description will be display
                                here . Please
                                make
                                sure to double check your contant and check for spelling mistake before you publish your
                                article.
                            </p>

                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <small class="text-muted ">
                                <span id="myAthour">Author Name</span> <span class="news-footer-divider">|</span>
                                30 Minutes Ago <span class="news-footer-divider">|</span>
                                <i class="fas fa-thumbs-up pr-2 fa-lg " aria-hidden="true"></i> <span style="font-size: 1rem; font-weight:500;">0</span>
                                <i class="fas fa-retweet pl-2 fa-lg text-info " aria-hidden="true"></i>


                            </small>


                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>


</div>


@section Scripts {

    <script type="text/javascript" language="JavaScript">


        $("#save-btn").click(function () {
            saveData();

        });


        /*  ==========================================
            UPLOAD PROCESS
          * ========================================== */

        var files = [];
        document.getElementById("upload").addEventListener("change", function (e) {
            files = e.target.files;
            for (let i = 0; i < files.length; i++) {
                console.log(files[i]);
            }

        });

        document.getElementById("send").addEventListener("click", function () {
            //checks if files are selected
            if (files.length != 0) {
                //Loops through all the selected files
                for (let i = 0; i < files.length; i++) {
                    //create a storage reference
                    var storage = firebase.storage().ref('news/' + files[i].name);

                    //upload file
                    var upload = storage.put(files[i]);

                    //update progress bar
                    upload.on(
                        "state_changed",
                        function progress(snapshot) {
                            var percentage =
                                (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                            document.getElementById("progress").value = percentage;
                            $('.progress-bar').css('width', percentage + '%').attr('aria-valuenow', percentage);
                        },

                        function error() {
                            alert("error uploading file");
                        },

                        function complete() {
                            getFileUrl(files[i].name);
                            document.getElementById(
                                "uploading"
                            ).innerHTML += `${files[i].name} upoaded <br />`;

                        }
                    );
                }
            } else {
                alert("No file chosen");
            }
        });

        /*  ==========================================
            GET THE UPLOADED IMAGE URL
          * ========================================== */
        function getFileUrl(filename) {

            // setup firebase storage
            //................................
            var storage = firebase.storage();
            var storage = firebase.storage();
            //var storageRef = storage.ref();
            //................................

            // refPath = storage.ref('gambarkerja/' + photoBefore1[i]);
            refPath = storage.ref('news/' + filename);
            //create a storage reference
            //var storage = firebase.storage().ref(filename);

            //get file url

            refPath
                .getDownloadURL()
                .then(function (url) {
                    console.log(url);
                    //alert(url);
                    document.getElementById('imageResult').src = url;
                    document.getElementById('preview-image').src = url;

                })
                .catch(function (error) {
                    console.log("error encountered");
                });
        }

        /*  ==========================================
            SHOW UPLOADED IMAGE NAME
          * ========================================== */
        var input = document.getElementById('upload');
        var infoArea = document.getElementById('upload-label');

        input.addEventListener('change', showFileName);
        function showFileName(event) {
            var input = event.srcElement;
            var fileName = input.files[0].name;
            infoArea.textContent = 'File name: ' + fileName;
        }

        /*==========================================
            GET NEWS DATA
        * ========================================== */
        function getNewsDetails() {


        }
         /*  ==========================================
                   SAVE NEWS
             * ========================================== */
            function saveData() {
                const proxyurl = "https://cors-anywhere.herokuapp.com/";
                const url = "https://hshq3zt9ij.execute-api.ap-southeast-1.amazonaws.com/Prod/api/NewsPostAdmin";
                const myurl = proxyurl + url;


                var Title = document.getElementById('title').value;
                var PostContent = $('#content').summernote('code')
                // document.getElementById("summernote_content").innerHTML;

                console.log(Title + "---" + $(PostContent).text() );
                console.log("iMAGE:"+ $('#imageResult').attr('src'));


                $("#loading").show();
                $('main').addClass('blur');
                fetch(myurl, {
                    //mode: 'no-cors', // 'cors' by default
                    cache: "no-cache",
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({

                        "Title": Title,
                        "PostContent": $(PostContent).text(),
                        "SourceUrl": null,
                        "FeaturedPicture": $('#imageResult').attr('src'),
                        "IsPublic": true,
                        "PostCategory": "Article",

                        "Originalpostername": "Ahmad",
                        "Originalposterprofilephoto": "b448c3f4-6251-4a71-8ee3-0a0615a4efaf.jpg",
                        "Originalposteruserid": "4C9B3BA8-7039-444F-8215-AA17E97BA2C4"
                    }),
                })
                    .then(function (data) {
                        $("#loading").hide();
                        $('main').removeClass('blur');

                        if (data.status == "200") {
                            $("#success_msg").fadeIn(300).delay(1500).fadeOut(400);
                            document.getElementById('title').value = Title;

                        } else {
                            $("#error_msg").fadeIn(300).delay(1500).fadeOut(400);
                            console.log(data.status);
                        }

                    })
                    .catch(function (error) {
                        // If there is any error you will catch them here
                        console.log(error);
                    });
            }



            // function deleteImage(){

            //     var filename= "~/uploads/nyankosensei.jpg";


            //     var storage = firebase.storage();
            //     var storageRef = storage.ref();
            //     var desertRef = storageRef.child(filename);

            //     // Delete the file
            //     desertRef.delete().then(function () {
            //        // alert("delete success!");
            //     }).catch(function (error) {
            //         // Uh-oh, an error occurred!
            //     });

            // }
    </script>

}